<a href="https://colab.research.google.com/github/abhiiiinair24/git-github/blob/main/ML_Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Assignment 1 :
Classification and Regression Methods

Part I: Data Analysis & Preprocessing

Import libraries

In [9]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
from sklearn.impute import KNNImputer

Show head(), shape, dtypes. Analyze the dataset, e.g., return
the main statistics. Provide a brief description (2-3 sentences) of the dataset: What does
it represent / key features.

In [19]:
df = pd.read_csv('penguins.csv')
print('Penguins Dataset: \n',df.head())
print('Penguins Dataset Shape: \n',df.shape)
print('Penguins Dataset Type: \n',df.dtypes)

#print(df)
'''
Provide a brief description (2-3 sentences) of the dataset: What does it represent / key features.

'''

Penguins Dataset:
   species     island  calorie requirement  average sleep duration  \
0  Adelie  Torgersen                 6563                      11
1  Adelie  Torgersen                 4890                      14
2  Adelie  Torgersen                 7184                      11
3  Adelie  Torgersen                 4169                       8
4  Adelie  Torgersen                 4774                       8

   bill_length_mm  bill_depth_mm  flipper_length_mm  body_mass_g  gender  \
0            39.1           18.7              181.0       3750.0    male
1            39.5           17.4              186.0       3800.0  female
2            40.3           18.0              195.0       3250.0  female
3             NaN            NaN                NaN        992.0     NaN
4            36.7           19.3              193.0       3450.0  female

     year
0  2007.0
1  2007.0
2  2007.0
3  2007.0
4  2007.0
Penguins Dataset Shape:
 (344, 10)
Penguins Dataset Type:
 species                    object
island                     object
calorie requirement         int64
average sleep duration      int64
bill_length_mm            float64
bill_depth_mm             float64
flipper_length_mm         float64
body_mass_g               float64
gender                     object
year                      float64
dtype: object

'\nProvide a brief description (2-3 sentences) of the dataset: What does it represent / key features.\n\n'

Return basic statistics using describe(). Return missing counts per column table. Which
columns have missing values or suspicious values?

In [20]:
print('Statistics : \n',df.describe())

missingCountpercolumnssum = df.isnull().sum()
print('Missing column wise value: \n',missingCountpercolumnssum)

#We can see that the number of missing values in the columns are pretty large and hence not very ideal to drop them
#Imputing the values into the dataset with mean/median and mode.

#From the above i can see i have 3 columns with datatype as object
#Iterate over the dataset and change numerical values with mean/median and categorical values with mode().

for colTraverse in df.columns:
  if df[colTraverse].dtype == 'object':
    df[colTraverse].fillna(df[colTraverse].mode()[0],inplace=True)
  else:
    df[colTraverse].fillna(df[colTraverse].mean(),inplace=True)

#print('Updated: \n',df)

missingCountpercolumnssumupdated = df.isnull().sum()
print('Cross verifying null values if exists now or not: \n',missingCountpercolumnssumupdated)

Statistics :
        calorie requirement  average sleep duration  bill_length_mm  \
count           344.000000              344.000000      337.000000
mean           5270.002907               10.447674       45.494214
std            1067.959116                2.265895       10.815787
min            3504.000000                7.000000       32.100000
25%            4403.000000                9.000000       39.500000
50%            5106.500000               10.000000       45.100000
75%            6212.750000               12.000000       49.000000
max            7197.000000               14.000000      124.300000

       bill_depth_mm  flipper_length_mm  body_mass_g         year
count     333.000000         336.000000   339.000000   342.000000
mean       18.018318         197.764881  4175.463127  2008.035088
std         9.241384          27.764491   858.713267     0.816938
min        13.100000          10.000000   882.000000  2007.000000
25%        15.700000         190.000000  3550.000000  2007.000000
50%        17.300000         197.000000  4050.000000  2008.000000
75%        18.700000         213.000000  4750.000000  2009.000000
max       127.260000         231.000000  6300.000000  2009.000000
Missing column wise value:
 species                   11
island                    10
calorie requirement        0
average sleep duration     0
bill_length_mm             7
bill_depth_mm             11
flipper_length_mm          8
body_mass_g                5
gender                    17
year                       2
dtype: int64
Cross verifying null values if exists now or not:
 species                   0
island                    0
calorie requirement       0
average sleep duration    0
bill_length_mm            0
bill_depth_mm             0
flipper_length_mm         0
body_mass_g               0
gender                    0
year                      0
dtype: int64

/tmp/ipython-input-3162779856.py:14: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[colTraverse].fillna(df[colTraverse].mode()[0],inplace=True)
/tmp/ipython-input-3162779856.py:16: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[colTraverse].fillna(df[colTraverse].mean(),inplace=True)

Handle mismatched string formats.
For example, in the penguins dataset, the "Species" feature might appear as "Adelie" or
"adelie," both of which refer to the same penguin species. These variations should be
standardized to a consistent format such as "Adelie" or "adelie".

In [23]:
for colTraverse in df.columns:
  if df[colTraverse].dtype == 'object':
    df[colTraverse] = df[colTraverse].astype(str).str.lower().str.strip()

#Converting all the categorical values to small case and removing the extra spaces or anything so that
#it becomes more meaningful and classifies properly.

print ('After Fixing Mismatched String formats: \n',df)

After Fixing Mismatched String formats:
        species     island  calorie requirement  average sleep duration  \
0       adelie  torgersen                 6563                      11
1       adelie  torgersen                 4890                      14
2       adelie  torgersen                 7184                      11
3       adelie  torgersen                 4169                       8
4       adelie  torgersen                 4774                       8
..         ...        ...                  ...                     ...
339  chinstrap      dream                 4826                      11
340  chinstrap      dream                 4111                       9
341  chinstrap      dream                 7049                      10
342  chinstrap      dream                 4705                       7
343  chinstrap      dream                 6098                       7

     bill_length_mm  bill_depth_mm  flipper_length_mm  body_mass_g  gender  \
0         39.100000      18.700000         181.000000       3750.0    male
1         39.500000      17.400000         186.000000       3800.0  female
2         40.300000      18.000000         195.000000       3250.0  female
3         45.494214      18.018318         197.764881        992.0    male
4         36.700000      19.300000         193.000000       3450.0  female
..              ...            ...                ...          ...     ...
339       55.800000      19.800000         207.000000       4000.0    male
340       43.500000      18.100000         202.000000       3400.0  female
341       49.600000      18.200000         193.000000       3775.0    male
342       50.800000      19.000000         210.000000       4100.0    male
343       50.200000      18.700000         198.000000       3775.0  female

       year
0    2007.0
1    2007.0
2    2007.0
3    2007.0
4    2007.0
..      ...
339  2009.0
340  2009.0
341  2009.0
342  2009.0
343  2009.0

[344 rows x 10 columns]

Handle outliers. Detect and manage outliers within the dataset.
For example, in the penguins dataset, while flipper lengths typically fall within the range
of [180 – 210], certain entries might show values like [10-30]. These can be considered
outliers. Possible solutions:
• Remove outliers. If there are just a few outliers, you may eliminate the rows containing
these outliers.
• Impute outliers. Replace the outliers with the mean/median/mode of the feature.

In [41]:
#print(df.dtypes)

##USed in selecting both int and float values.
numericalVal = df.select_dtypes(include=[np.number])

#print(numericalVal)

#APply IQR

Q1 = numericalVal.quantile(0.25)
Q2 = numericalVal.quantile(0.75)
#print('25th percentile: \n',Q1)
#print('75th percentile: \n',Q2)

IQR = Q2-Q1
#print('QR: \n',IQR)

lowerThresshold = (Q1 - 1 * IQR)
upperThresshold = (Q2 + 1 * IQR)

outliers = (numericalVal < lowerThresshold) | (numericalVal > upperThresshold)
#print(outliers.count)

if outliers.any().any():  #To check the entire dataframe , .any() resulted only in columns
    print("Outliers Present.")
else:
    print("No outliers found.")

for colTraverse in numericalVal.columns:
  if outliers[colTraverse].any():
    meanval = df[colTraverse].mean()
    df.loc[outliers[colTraverse],colTraverse] = meanval

print(df)

Outliers Present.
       species     island  calorie requirement  average sleep duration  \
0       adelie  torgersen                 6563                      11
1       adelie  torgersen                 4890                      14
2       adelie  torgersen                 7184                      11
3       adelie  torgersen                 4169                       8
4       adelie  torgersen                 4774                       8
..         ...        ...                  ...                     ...
339  chinstrap      dream                 4826                      11
340  chinstrap      dream                 4111                       9
341  chinstrap      dream                 7049                      10
342  chinstrap      dream                 4705                       7
343  chinstrap      dream                 6098                       7

     bill_length_mm  bill_depth_mm  flipper_length_mm  body_mass_g  gender  \
0         39.100000      18.700000         181.000000  3750.000000    male
1         39.500000      17.400000         186.000000  3800.000000  female
2         40.300000      18.000000         195.000000  3250.000000  female
3         45.494214      18.018318         197.764881  4175.463127    male
4         36.700000      19.300000         193.000000  3450.000000  female
..              ...            ...                ...          ...     ...
339       55.800000      19.800000         207.000000  4000.000000    male
340       43.500000      18.100000         202.000000  3400.000000  female
341       49.600000      18.200000         193.000000  3775.000000    male
342       50.800000      19.000000         210.000000  4100.000000    male
343       50.200000      18.700000         198.000000  3775.000000  female

       year
0    2007.0
1    2007.0
2    2007.0
3    2007.0
4    2007.0
..      ...
339  2009.0
340  2009.0
341  2009.0
342  2009.0
343  2009.0

[344 rows x 10 columns]